<div class="container-fluid">
    <div class="row">
<div class="col-md-12">
<h1 id="til"> Sobre o restaurante</h1>

<p>Bem-vindo ao Ki Fome, o seu destino gastronômico favorito para uma experiência culinária inesquecível. Desde a nossa fundação, nossa missão tem sido proporcionar momentos especiais e deliciosas refeições para nossos clientes. No Ki Fome, combinamos paixão pela comida com um serviço excepcional, criando um ambiente acolhedor e agradável para todos os amantes da boa comida.</p>

<h3>Nossa História</h3>

<p>O Ki Fome nasceu do amor pela culinária e do desejo de compartilhar sabores autênticos com nossa comunidade. Fundado em [ano de fundação], começamos como um pequeno restaurante familiar e, ao longo dos anos, cresceu para se tornar um ponto de referência na cena gastronômica local. Nossa jornada tem sido marcada por uma busca constante pela excelência, com um compromisso inabalável com ingredientes frescos e pratos que celebram a diversidade de sabores.</p>

<h3>Nossa Cozinha</h3>

<p>No Ki Fome, nossa cozinha é o coração do nosso negócio. Nossos talentosos chefs estão constantemente explorando novas técnicas e ingredientes para criar pratos que encantam o paladar. Oferecemos um cardápio diversificado que combina influências culinárias de todo o mundo, com ênfase em pratos tradicionais e contemporâneos que refletem a nossa paixão pela comida.</p>

<h3>Compromisso com a Qualidade</h3>

<p>A qualidade é a pedra angular do nosso compromisso com nossos clientes. Trabalhamos incansavelmente para garantir que cada refeição servida no Ki Fome seja uma experiência culinária de primeira classe. Selecionamos cuidadosamente ingredientes frescos e locais sempre que possível, e nossa equipe está empenhada em oferecer um serviço atencioso e amigável.</p>

<h3>Nossa Comunidade</h3>

<p>No Ki Fome, acreditamos na importância de retribuir à comunidade que nos apoia. Estamos envolvidos em iniciativas locais e apoiamos causas que são próximas ao nosso coração. Agradecemos a confiança que nossos clientes depositam em nós e estamos comprometidos em fazer a diferença em nossa comunidade.</p>

<p>Agradecemos por nos escolher como seu destino gastronômico preferido. Esperamos recebê-lo em nossa casa e proporcionar uma experiência memorável que desperte seus sentidos e satisfaça seu "Ki Fome."</p>

<p>Venha nos visitar e descubra por que somos muito mais do que apenas um restaurante. Somos uma experiência culinária única e apaixonada.</p>

<h3>Nossa Equipe</h3>

<p>A equipe do Ki Fome é apaixonada por comida e dedicada a proporcionar uma experiência excepcional a cada cliente. Nossos chefs talentosos, experientes na arte da culinária, estão sempre inovando em nossos pratos para surpreender seu paladar. Nossos simpáticos garçons estão prontos para atendê-lo com um sorriso caloroso e recomendações personalizadas.</p>

<h3>Nossa Missão</h3>

<p>A nossa missão é simples: criar momentos especiais através da comida. Queremos que cada refeição no Ki Fome seja uma celebração da boa gastronomia e uma oportunidade para compartilhar momentos memoráveis com amigos e familiares. Estamos empenhados em oferecer pratos que satisfaçam sua fome e enriqueçam sua vida.</p>

<h3>Ingredientes Frescos e Locais</h3>

<p>Acreditamos que a qualidade começa com ingredientes de alta qualidade. Por isso, trabalhamos em estreita colaboração com produtores locais para garantir que nossos pratos sejam preparados com ingredientes frescos e sazonais sempre que possível. Isso não apenas ressalta o sabor, mas também apoia a economia local.</p>

<h3>Reservas e Eventos Especiais</h3>

<p>O Ki Fome está disponível para reservas e eventos especiais. Se você está planejando uma celebração, reunião de negócios ou qualquer evento especial, entre em contato conosco para discutir como podemos tornar a sua ocasião verdadeiramente memorável. Estamos aqui para tornar seus sonhos gastronômicos uma realidade.</p>

<h3>Visite-nos Hoje</h3>

<p>Esperamos que você nos visite em breve para experimentar a magia do Ki Fome. Não importa se é a sua primeira vez ou uma visita frequente, estamos ansiosos para recebê-lo em nosso restaurante e proporcionar uma experiência gastronômica que você lembrará com carinho.</p>

<p>Desde o momento em que você atravessa nossa porta até a última garfada do seu prato, estamos comprometidos em tornar a sua visita ao Ki Fome verdadeiramente especial.</p>


</div>
<div class="col-md-12" >
    <img src="../assets/imagens/restaurante.jpg">
</div>
    </div>
    

</div>