<div class="banner">
  
      <img src="assets/imagens/Banner.png" width="90%">
     
   
  </div>
  
  <!-- Pratos em destaque -->
  <div class="container">

    <h2>Cupons</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="prato-destaque">
          <img src="assets/imagens/desconto.png" alt="desconto 1" width="250px">
          <h3>10% de desconto</h3>
          <p>Válido apenas para primeira compra</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="prato-destaque">
          <img src="assets/imagens/desconto2.png" alt="desconto  2" width="250px">
          <h3>20% de desconto</h3>
          <p> ao consumir R$300,00, Válido um cupom por CPF</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="prato-destaque">
          <img src="assets/imagens/desconto.png"  alt="desconto  3" width="250px">
          <h3>10% de desconto</h3>
          <p> Convide alguém para comer em nosso restaurante e ganhe 10% de desconto na próxima refeição</p>
        </div>
      </div>
    </div>
  </div>