
<div> 
    <h1 id="til"> Políticas de Privacidade </h1>
  

Última atualização: [2023]

<h3> Bem-vindo à Política de Privacidade do Restaurante!</h3>

<p > Esta Política de Privacidade descreve como coletamos, usamos, compartilhamos e protegemos as informações pessoais que você nos fornece ou que coletamos quando você visita nosso site [www.restauranteficticio.com]. Ao acessar ou utilizar nosso site, você concorda com as práticas descritas nesta política.</p>

<h4> Informações que Coletamos</h4> 
<p> Podemos coletar as seguintes informações pessoais quando você interage conosco:

Informações de Contato: Isso pode incluir seu nome, endereço de e-mail, número de telefone e endereço postal, que você fornece ao fazer uma reserva ou entrar em contato conosco.

Informações de Pagamento: Quando você faz uma reserva ou uma compra em nosso site, podemos coletar informações de pagamento, como informações do cartão de crédito.

Informações de Reservas: Quando você faz uma reserva em nosso restaurante, coletamos informações sobre a data, horário e número de pessoas da reserva.

Informações de Uso: Podemos coletar informações sobre como você usa nosso site, incluindo quais páginas você visita, quais pratos você visualiza e as interações que você faz.
</p> 
<h4> Como Usamos Suas Informações</h4>
<p> Utilizamos as informações pessoais que coletamos para os seguintes fins:

Fornecer nossos serviços, como fazer reservas e processar pedidos.

Melhorar a qualidade de nossos serviços e personalizar sua experiência.

Enviar comunicações relacionadas a reservas, promoções ou eventos especiais (com seu consentimento, quando exigido por lei).

Cumprir obrigações legais e regulatórias.</p>

<h4> Compartilhamento de Informações</h4>
<p>Não vendemos, alugamos ou compartilhamos suas informações pessoais com terceiros, exceto nas seguintes situações:

Com fornecedores de serviços terceirizados que nos auxiliam na prestação de serviços (por exemplo, processamento de pagamentos).

Quando exigido por lei, regulamentações ou autoridades governamentais.  </p>

<h4> Proteção de Dados</h4>
<p> Adotamos medidas razoáveis para proteger suas informações pessoais contra perda, uso indevido, acesso não autorizado ou divulgação.

Seus Direitos de Privacidade
Você tem o direito de revisar, corrigir ou excluir suas informações pessoais a qualquer momento. Para fazer isso, entre em contato conosco através das informações de contato fornecidas abaixo.
</p>
<h4> Alterações na Política de Privacidade</h4>
<p>Podemos atualizar esta Política de Privacidade periodicamente. A versão mais recente estará sempre disponível em nosso site.
</p>

</div>